@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    font-family: 'Pretendard-Regular', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: #1F2125;

}

.wrap {
    width: 100%;
    height: 100%;

}


/* 메뉴  */

.menu_list {
    width: 200px;
    height: 400px;
    margin: 20px;
    color: whitesmoke;
    font-size: 18px;
    padding: 40px 0;

    outline: 1px dotted red;
}

.menu_list > li {
    display: block;
    margin: 0 auto;
    width: 130px;
    height: 40px;
    line-height: 40px;
    outline: 1px dotted red;
}


.menu_list > li > a {
    display: block;
    text-align: center;
    width: 100%;
    height: 100%;
    color: whitesmoke;
    outline: 1px dotted red;
}







